.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

@media (width >= 900px) {
  .columns > div {
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns-wrapper .col1, .columns-wrapper .col2 {
  float: left;
}
.columns-wrapper .col2 {
  text-align: center;
  margin-left: 20px;
}
.columns-wrapper .col2 h3 {
  font-size: 70px;
   color: #0659d4;
   margin: 0;
}
.columns-wrapper .col2 h2 {
  font-size: 20px;
  margin-top: 0;
}
.columns-wrapper h4:first-child {
  color: #0659d4;
  font-size: 16px;
}